<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--<dubbo:annotation package="com.keyvin.mall"/>-->

    <dubbo:registry address="${dubbo.registry.address}"/>

    <dubbo:protocol name="dubbo"/>




    <!--这个client只作为订阅者-->
    <dubbo:reference interface="com.keyvin.mall.api.service.ItemService" id="itemService"
                     url="dubbo://127.0.0.1:20903" protocol="dubbo" version="1.0" timeout="30000">
    </dubbo:reference>

</beans>